html {
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

img {
  max-width: 100%;
}

body {
  margin: 0 auto;
  background-color: #f3f7fa;
  color: #333;
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  min-width: 320px;
}

.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.btn-reset {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

$blue: #2972f1;
$white: #fff;
$basis: #f3f7fa;

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1400px;
}

.header {
  margin-bottom: 35vh;
  background-color: $blue;
}

.header__container {
  display: flex;
  padding: 20px;
  justify-content: center;
}

.header__dropdown-menu {
  position: relative;
  min-width: 171px;
}

.header__login-menu {
  position: absolute;
  min-width: 171px;
  overflow: hidden;
  visibility: hidden;
  background-color: $blue;
  border-radius: 0 0 25px 25px;
  z-index: 1;
  line-height: 0;
  transition: line-height 0.5s;
}

.header__login-menu--active {
  padding: 10px;
  visibility: visible;
  line-height: 1.5;
}

.header__login-menu-item:first-child {
  margin-bottom: 10px;
}

.header__login-menu-link {
  cursor: pointer;
  transition: border-bottom .3s ease-in-out;
}

.header__login-menu-link:hover {
  margin-bottom: -1px;
  border-bottom: 1px solid #000;
}

.main__container {
  display: flex;
  flex-direction: column;
}

.main__info {
  display: flex;
  align-items: start;
  margin-bottom: 10px;
}

.main__list-info {
  margin-right: auto;
}

.main__sos-wrapper {
  display: flex;
  align-items: center;
}

.main__sos-info {
  margin-right: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: red;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.blink-text {
  animation: blink 1.5s linear infinite;
}

.main__btn-sos {
  padding: 10px;
  align-self: flex-end;
  font-weight: bold;
  background-color: red;
  color: #f3f7fa;
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.main__btn-sos:hover {
  outline: 1px solid red;
  color: red;
  background-color: #f3f7fa;
}

.sos-enter-active {
  transition: all .5s ease;
}

.sos-enter-from {
  transform: translateX(10px);
  opacity: 0;
}
.sos-leave-active {
  transition: all .5s ease;
}

.sos-leave-to {
  transform: translateX(-10px);
  opacity: 0;
}

.main__wrapper-map {
  display: flex;
  overflow: hidden;
}

.btn-report {
  display: block;
  margin: 0 auto;
  padding: 20px;
  font-size: 20px;
  background-color: $blue;
  color: $basis;
  transition:
    color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

.btn-report:hover {
  color: #2972f1;
  background-color: transparent;
  outline: 1px solid #2972f1;
}

.btn-report:focus {
  outline: 3px solid #333;
}

.map {
  width: 100%;
}

.form--active {
  margin-right: 10px;
  width: 60%;
  transition: width .5s ease-in-out;
}

.form {
  display: flex;
  padding: 1px;
  width: calc(100% - 60% - 10px);
  flex-direction: column;
  align-items: center;
}

.form__label {
  margin-bottom: 10px;
  width: 100%;
}

.form__description {
  padding: 8px;
  width: 100%;
  height: 100px;
  resize: none;
  border: none;
}

.form__description:focus {
  outline: 1px solid #000;
}

.form__btn-submit {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 15px;
  background-color: $blue;
  color: $basis;
  transition:
    color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

.form__btn-submit:hover {
  color: #2972f1;
  background-color: transparent;
  outline: 1px solid #2972f1;
}

.fade-enter-active, .fade-leave-active {
  transition: all .5s ease;
}

.fade-enter-from, .fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

.premain__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.premain__form-login {
  margin-bottom: 10px;
  width: 50%;

  .form__label {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.form__input {
  width: 100%;
  padding: 8px;
  border: none;
}

.form__input:focus {
  outline: 1px solid #000;
}

.form__text-success {
  margin: 0;
  color: green;
}

.form__text-unsuccess {
  margin: 0;
  color: red;
}

.wrapper-btn {
  margin-bottom: 5px;
}

.btn-authorization {
  border-bottom: 1px solid #000;
  transition: border-bottom .3s ease-in-out;
}

.btn-authorization:hover {
  border-bottom: none;
}

.premain__form-registration {
  margin-bottom: 10px;
  width: 50%;

  .form__label {
    width: 60%;
    height: 100%;
  }
}

.input-error {
  outline: 1px solid red;
  border: none;
}

.login-error {
  font-size: 12px;
  color: red;
}

.password-hidden {
  position: absolute;
  top: 8px;
  right: 3px;
  font-size: 12px;
  opacity: 0.7;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
}

.password-hidden:hover {
  opacity: 1;
}

.security__analitics {
  display: flex;
  flex-wrap: wrap;
}

.security__list-tabs {
  display: flex;
  margin-bottom: 20px;
}

.security__item-tab {
  font-size: 24px;
}

.security__link-tab {
  display: inline-block;
  padding: 12px;
  background-color: #2972f1;
  color: #fff;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.security__link-tab:hover {
  color: #2972f1;
  background-color: transparent;
}

.tab--active {
  background-color: #89afe0;
}

.security__list-wrapper {
  display: flex;
}

.shift-enter-active {
  transition: all 1s ease;
}

.shift-enter-from, .shift-leave-to {
  transform: translateY(-20px);
  opacity: 0;
}

.security__list {
  width: 50%;
  height: 70vh;
  padding: 10px;
  overflow-Y: auto;
  scrollbar-width: thin;
  scrollbar-color: #2972f1 #f3f7fa;
}

.security__item {
  position: relative;
  outline: 3px solid #89afe0;
  box-shadow: 0px 0px 6px 2px rgba(102, 103, 104, 0.7);
  transition: background-color .3s ease-in-out;
  cursor: pointer;
}

.security__item:not(:last-child) {
  margin-bottom: 10px;
}

.security__item:hover {
  background-color: #89afe0;
}

.security__item-link {
  display: inline-block;
  padding: 10px;
  width: 100%;
  font-size: 16px;
}

.security__item-time {
  position: absolute;
  top: 11px;
  right: 5px;
  opacity: 0.7;
}

.task__container {
  display: flex;
  font-size: 18px;

  .map {
    width: 60%;
  }
}

.task--active {
  width: 60%;
}

.task__wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  width: 40%;
}

.task__wrapper-el {
  display: flex;
  margin-bottom: 10px;
}

.immediate {
  margin-bottom: auto;
  flex-direction: column;

  .task__title {
    margin-bottom: 10px;
    font-size: 20px;
  }
}

.task__title {
  margin-right: auto;
  font-size: 24px;
}

.task__description {
  margin: 0;
  margin-bottom: auto;
}

.task__btn {
  padding: 10px;
  font-size: 18px;
  background-color: #2972f1;
  color: #f3f7fa;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.task__btn:hover {
  color: #2972f1;
  background-color: transparent;
  outline: 1px solid #2972f1;
}

.marker {
  position: relative;
  width: 20px;
  height: 20px;
  background: #ff0000;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #fff;
  font-weight: bold;
  line-height: 20px;
}

.marker-current {
  position: relative;
  width: 20px;
  height: 20px;
  background: green;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #fff;
  font-weight: bold;
  line-height: 20px;
}

.spinner-16 {
  display: inline-block;
  font-size: 4px;
  width: 0;
  height: 0;
  position: relative;
}
.spinner-16::before,
.spinner-16::after {
    content: "";
    background-color: transparent;
    position: absolute;
    left: -4.5em;
    top: -2em;
    width: 5em;
    height: 1em;
    box-sizing: border-box;
    border: .3em solid #fff;
    animation: spinner-16 1s infinite cubic-bezier(0, 0.25, 0.75, 1);
}
.spinner-16::before {
    animation-delay: 0s;
}
.spinner-16::after {
    animation-delay: -.5s;
}
@keyframes spinner-16 {
    0% {
        opacity: 1;
        transform: scale(0);
    }
    100% {
        opacity: 0;
        transform: scale(10);
    }
}

@import "1050.scss";
@import "992.scss";
@import "768.scss";
@import "576.scss";
